{
  "rules": {
    "indent": [ 2, 2, { "SwitchCase": 1 }],
    "quotes": [ 2, "single" ],
    "linebreak-style": [ 2, "unix" ],
    "semi": [ 2, "always" ],
    "brace-style": [ 2, "1tbs", { "allowSingleLine": false } ],
    "keyword-spacing": [ 2 ],
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "dot-notation": 0,
    "eol-last": 0,
    "no-new": 0,
    "semi-spacing": 0
  },
  "env": {
    "node": true
  }
}